body{
  font-family: 'Open Sans', sans-serif;
  font-family: 'Raleway', sans-serif;
}
.customNavBar{
  background-color: #589442;
  padding-top: 40px;
  padding-bottom: 40px;
}
.customImgLogo{
  margin-top: -10px;

}
.customBannerLogo{
  width: 845px;
  height: 150px;
  margin-top: -10px;
}
.customBtnSearch{
  background-color: #605b5b;
  color: #ffffff;
}
.customBreadcrumb{
  background-color: #ffffff;
}
.customRadio{
  margin-bottom: 22px;
}
.customTextOptions{
  font-size: 50px;
}
.customBtnSave{
  font-size: 15px;
  color: #00aeff;
}
.customBtnDistance{
  font-size: 15px;
  background-color: grey;
  color: #ffffff;
}
.customBtnExtras{
  font-size: 15px;
  background-color: #589442;
  color: #ffffff;
}
.customSection2{
  margin-left: 5%;
  margin-right: 5%;
}
.customImgPpal{
  margin-top: 25px;
  margin-left: -30px;
  width: 1125px;
  height: 335px;
  margin-right: 250px;
}
.customImgSec{
  width: 570px;
  margin-left: -50px;
  height: 170px;
  margin-top: -15px;
}
.customSideRight{
  margin-left: -25px;
}
.customDescSite{
  text-align: center;
  color: #000000;
  font-size: 12px;
}
.customOpenNow{
  color:  #589442;
  display: inline-flex;
}
.setFontSizeDate{
  font-size: 12px;
  margin-left: 15px;
}
section{
  margin-left: 15%;
}
a:link
{
 text-decoration:none;
}
table{
  margin-top: 5px;
  border: hidden;
}
td{
  border: hidden;
  color:  #589442;
}
