.customNavBar{
  background-color: #589442;
  padding-top: 40px;
  padding-bottom: 40px;
}
.customImgLogo{
  margin-top: -10px;

}
.customBannerLogo{
  width: 700px;
  height: 150px;
  margin-top: 10px;
}
table{
  margin-top: 5px;
  border: hidden;
}
table td{
  border: hidden;
}
table tr{
  border: hidden;
}
.customBreadcrumb{
  background-color: #ffffff;
}
.customRadio{
  margin-bottom: 22px;
}
.customTextOptions{
  color: green;
}
.customBtnSave{
  font-size: 15px;
}
.customBtnDistance{
  font-size: 15px;
  background-color: grey;
}
.customBtnExtras{
  font-size: 15px;
  background-color: #589442;
}
